services:
  server:
    container_name: lift-logger-server-prod
    build:
      context: ./server
      dockerfile: Dockerfile.prod
    env_file:
      - .env.production
    networks:
      - app-network

  nginx:
    container_name: lift-logger-nginx
    build:
      context: ./client
      dockerfile: Dockerfile.prod
    ports:
      - "80:80"
    depends_on:
      - server
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
