<!DOCTYPE html>
<html>
    <head>
        <title>Execute {{ workout_name }}</title>
    </head>
    <body>
        <h1>Workout: {{ workout_name }}</h1>

        {% if message %}
        <p>{{ message }}</p>
        {% else %}
        <form method="post" action="/save_completed_workout/">
            <table>
            <tr>
                <th>Exercise</th>
                <th>Load</th>
                <th>Reps</th>
                <th>Sets</th>
                <th>Rest</th>
                <th>RPE</th>
            </tr>
            {% for row in workout_data %}
            <tr>
                <td>
                    {{ exercise_labels[row.exercise] }}
                    <input type="hidden" name="exercise" value="{{ row.exercise }}">
                </td>
                <td>
                    {% if row.load_type != 'none' %}
                        <input type="number" name="load" value="{{ row.load }}">
                    {% else %}
                        <input type="hidden" name="load" value="0">
                    {% endif %}
                </td>
                <td><input type="number" name="reps" value="{{ row.reps }}"></td>
                <td><input type="number" name="sets" value="{{ row.sets }}"></td>
                <td><input type="number" name="rest_sec" value="{{ row.rest_sec }}"></td>
                <td><input type="text" name="rpe" value="" required></td>
            </tr>
            {% endfor %}
            </table>
            <input type="hidden" name="workout_name" value="{{ workout_name }}">
            <button type="submit">Save Completed Workout</button>
        </form>

        {% endif %}

        <br />
        <br />

        <a href="/execute">Workout List</a>
    </body>
</html>
